{% extends 'base.html' %}

{% block content %}

<div class='recipe-search'>
    <div class='recipe'>
        
            <h1>Search Results</h1>
            {% for recipe in recipes %}
                <div class="recipe">
                    <h2><a href="{% url 'recipes:detail' slug=recipe.slug %}">{{ recipe.title }}</a></h2>
                    <p>{{ recipe.snippet }}</p>
                    <p><img src="{{ recipe.thumb.url }}"/></p>
                    <p>{{ recipe.timestamp }}</p>
                    <p class='submitted-by'>Submitted by: {{ recipe.user }}</p>
                </div>
            {% endfor %}

        <div class="recipes">
        
    </div>


    </div>
</div>


{% endblock content %}