<h2> Create a New Recipe </h2>
        
        <form class='model-create-recipe-form' action={% url 'recipes:create_ingredient' %} method='post' enctype="multipart/form-data">
            {% csrf_token %}

           <p> Ingredient Name: {{ recipe_form.title }} </p>
           <p> Recipe Description:  {{ recipe_form.description }}</p>
           {% comment %} <p> Recipe Ingredients:  {{ recipe_form.ingredients }} </p> {% endcomment %}
           <p> Recipe Directions:  {{ recipe_form.directions }}</p>
           <p> Recipe Slug {{ recipe_form.slug }}</p>
           <p> Recipe Image {{ recipe_form.thumb }} </p>
            
            <input class='save-recipe' type='submit' value='Save Recipe'>
</form>