body{
    background-color: beige;
    /* background-image: url(/static/stars.png); */
    background-repeat: no-repeat;
    color: #000;
}

body *{
    font-family: Ubuntu;
}

h1, h2, h3, h4, h5{
    font-weight: normal;
    margin: 0;
}

a, a:hover, a:visited{
    color: #000;
    text-decoration: underline;
}

p {
    size: 24px;
}